<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Simple Application In Go</title>

        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <h1>welcome to my Simple Application In Go!</h1>
            </div>
            <hr>
            <div class="row">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores reiciendis officia dolor sunt incidunt, ut fugit earum recusandae quisquam error veritatis libero voluptatibus inventore vero, excepturi facilis voluptate voluptatem eaque perspiciatis voluptates cupiditate alias natus blanditiis ducimus. Neque nemo facilis illo maxime impedit, non magni incidunt, accusamus enim totam iure assumenda aperiam ullam esse dolores modi cumque molestias doloremque recusandae praesentium. Commodi enim dolorem adipisci molestias similique non aspernatur sunt eaque, quas ullam asperiores voluptas, minus sequi illo fugit ipsam nam debitis eius nobis, veniam sed quia. Culpa adipisci eum, ut excepturi labore, provident aspernatur! Vero porro, nihil laborum molestias.
                </p>
            </div>
        </div>
    </body>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha256-Sk3nkD6mLTMOF0EOpNtsIry+s1CsaqQC1rVLTAy+0yc= sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
</html>
